run = "cowsay Configure me!"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cowsay Configure me!"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 19748196
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
